<div class="div-signin">
<% if user_signed_in? %>
  Sign in as <strong><%= current_user.name %></strong>
<% else %>
  <h2>Sign in</h2>
  <%= link_to "with Github", user_omniauth_authorize_path(:github), class: "btn btn-large btn-success"%>
<% end %>
</div>
